In [1]:
import pyodbc

# defining the server and the database
server = '(localdb)\mssqllocaldb' 
database = 'TSQL_CLASS'  

# Define the connection string
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server}; \
    SERVER='+ server +'; \
    DATABASE ='+ database +';\
    Trusted_Connection=yes;'
)

In [29]:
# Question 1 - TSQL_Class - Products table
# Compute the average price of all the products.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Calculate the average price of all the products in Products table using the AVG() function 
cursor.execute("""SELECT AVG(Price) AS avg_price FROM [TSQL_CLASS].[dbo].[Products]""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)


['avg_price']
(Decimal('154.100000'), )

In [28]:
# Question 2 - TSQL_Class DB - Products table
# Compute the average price of all products with manufacturer code equal to 2.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using the AVG() function to get the average price 
#with a WHERE clause to get avg. price for Manufacturer with code equal to 2.
cursor.execute("""SELECT AVG(Price) AS avg_price FROM [TSQL_Class].[dbo].[Products]
WHERE Manufacturer = 2""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
        
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)


['avg_price']
(Decimal('150.000000'), )

In [27]:
# Question 3 - TSQL_Class DB - Products table
# Compute the number of products with a price larger 
# than or equal to $180.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using the Count() function to count all the records with price >= 180 in Products table
cursor.execute("""SELECT COUNT(*) AS price_over_180 FROM [TSQL_Class].[dbo].[Products]
WHERE Price >= 180""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)


['price_over_180']
(5, )

In [26]:
# Question 4 - TSQL_Class DB - Products table
# Select the average price of each manufacturer's 
# products, showing only the manufacturer's code.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using GROUP BY statement to get the average price per manufacturer in Products table
cursor.execute("""SELECT AVG(Price) AS avg_price_per_mfr, Manufacturer AS mfr_code FROM [TSQL_Class].[dbo].[Products]
GROUP BY Manufacturer""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)


['avg_price_per_mfr', 'mfr_code']
(Decimal('240.000000'), 1)
(Decimal('150.000000'), 2)
(Decimal('168.000000'), 3)
(Decimal('150.000000'), 4)
(Decimal('240.000000'), 5)
(Decimal('62.500000'), 6)

In [25]:
# Question 5 - TSQL_Class DB - Departments table
# Select the sum of all the departments' budgets.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Departments]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using the SUM() function to add up all the budgets from each department
cursor.execute("""SELECT SUM(Budget) AS all_dept_bgt FROM [TSQL_Class].[dbo].[Departments]""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Budget']
(14, 'IT', 65000.0)
(37, 'Accounting', 15000.0)
(59, 'Human Resources', 240000.0)
(77, 'Research', 55000.0)


['all_dept_bgt']
(375000.0, )

In [24]:
# Question 6 - TSQL_Class DB - Employees table
# Select the number of employees in each department (you only need 
# to show the department code and the number of employees).

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using Count() to get the total count of employees per department
cursor.execute("""SELECT Department, Count(SSN) AS num_of_emp FROM [TSQL_Class].[dbo].[Employees]
GROUP BY Department""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['Department', 'num_of_emp']
(14, 5)
(37, 2)
(59, 3)
(77, 2)

In [23]:
# Question 7 - TSQL_Class DB - Boxes table
# Select the average value of all the boxes.

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 5 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using AVG() function to get the average value of all the boxes in table
cursor.execute("""SELECT AVG(VALUE) avg_value_all_boxes FROM [TSQL_Class].[dbo].[Boxes]""")
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('8JN6', 'Papers', 75.0, 1)


['avg_value_all_boxes']
(147.72727272727272, )

In [36]:
# Question 8 - TSQL_Class DB - Boxes table
# Select the warehouse and the average value of the 
# boxes in each warehouse.

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using GROUP BY statement to group the average value by warehouse 
cursor.execute("""SELECT Warehouse, AVG(VALUE) AS avg_value FROM [TSQL_Class].[dbo].[Boxes]
GROUP BY Warehouse""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('8JN6', 'Papers', 75.0, 1)
('8Y6U', 'Papers', 50.0, 3)
('9J6F', 'Papers', 175.0, 2)
('LL08', 'Rocks', 140.0, 4)
('P0H6', 'Scissors', 125.0, 1)
('P2T6', 'Scissors', 150.0, 2)


['Warehouse', 'avg_value']
(1, 162.5)
(2, 162.5)
(3, 115.0)
(4, 165.0)
(5, 90.0)

In [38]:
# Question 9 - TSQL_Class DB - Boxes table
# Same as previous exercise, but select only those warehouses 
# where the average value of the boxes is greater than 150.

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Using Having statement to filter for warehouse with avg value greater than to equal to 150
cursor.execute("""SELECT Warehouse, AVG(VALUE) AS avg_value FROM [TSQL_Class].[dbo].[Boxes]
GROUP BY Warehouse
HAVING AVG(VALUE) >= 150""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('8JN6', 'Papers', 75.0, 1)
('8Y6U', 'Papers', 50.0, 3)
('9J6F', 'Papers', 175.0, 2)
('LL08', 'Rocks', 140.0, 4)
('P0H6', 'Scissors', 125.0, 1)
('P2T6', 'Scissors', 150.0, 2)


['Warehouse', 'avg_value']
(1, 162.5)
(2, 162.5)
(4, 165.0)

In [39]:
# Question 10 - TSQL_Class DB - Provides table
# Obtain the average price of each piece (show only the 
# piece code and the average price).

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Provides]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
print("\n")

# Grouping by piece and using the AVG() function to get the average price per piece
cursor.execute("""SELECT Piece as piece_code, AVG(Price) AS avg_value FROM [TSQL_Class].[dbo].[Provides]
GROUP BY Piece""")

column_headers = [i[0] for i in cursor.description]
print(column_headers)

sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Piece', 'Provider', 'Price']
(1, 'HAL', 10)
(1, 'RBT', 15)
(2, 'HAL', 20)
(2, 'RBT', 15)
(2, 'TNBC', 14)
(3, 'RBT', 50)
(3, 'TNBC', 45)
(4, 'HAL', 5)
(4, 'RBT', 7)


['piece_code', 'avg_value']
(1, 12)
(2, 16)
(3, 47)
(4, 6)